jboss6/server/default/data/wsdl/2.1-ejb3.jar/CarrinhoBeanService.wsdl

<?xml version='1.0' encoding='UTF-8'?><wsdl:definitions name="CarrinhoBeanService" targetNamespace="http://ejb3.fiap.com.br/" xmlns:ns1="http://schemas.xmlsoap.org/soap/http" xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/" xmlns:tns="http://ejb3.fiap.com.br/" xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/" xmlns:xsd="http://www.w3.org/2001/XMLSchema">
  <wsdl:types>
<xs:schema elementFormDefault="unqualified" targetNamespace="http://ejb3.fiap.com.br/" version="1.0" xmlns:tns="http://ejb3.fiap.com.br/" xmlns:xs="http://www.w3.org/2001/XMLSchema">
<xs:element name="cadastrarItem" type="tns:cadastrarItem" />
<xs:element name="cadastrarItemResponse" type="tns:cadastrarItemResponse" />
<xs:element name="obterQuantidadeItens" type="tns:obterQuantidadeItens" />
<xs:element name="obterQuantidadeItensResponse" type="tns:obterQuantidadeItensResponse" />
<xs:element name="removerCadastro" type="tns:removerCadastro" />
<xs:element name="removerCadastroResponse" type="tns:removerCadastroResponse" />
<xs:complexType name="cadastrarItem">
<xs:sequence>
<xs:element minOccurs="0" name="arg0" type="tns:item" />
</xs:sequence>
</xs:complexType>
<xs:complexType name="item">
<xs:sequence>
<xs:element minOccurs="0" name="nome" type="xs:string" />
<xs:element name="preco" type="xs:double" />
</xs:sequence>
</xs:complexType>
<xs:complexType name="cadastrarItemResponse">
<xs:sequence />
</xs:complexType>
<xs:complexType name="obterQuantidadeItens">
<xs:sequence />
</xs:complexType>
<xs:complexType name="obterQuantidadeItensResponse">
<xs:sequence>
<xs:element name="return" type="xs:int" />
</xs:sequence>
</xs:complexType>
<xs:complexType name="removerCadastro">
<xs:sequence>
<xs:element name="arg0" type="xs:int" />
</xs:sequence>
</xs:complexType>
<xs:complexType name="removerCadastroResponse">
<xs:sequence />
</xs:complexType>
</xs:schema>
  </wsdl:types>
  <wsdl:message name="cadastrarItem">
    <wsdl:part element="tns:cadastrarItem" name="parameters">
    </wsdl:part>
  </wsdl:message>
  <wsdl:message name="obterQuantidadeItensResponse">
    <wsdl:part element="tns:obterQuantidadeItensResponse" name="parameters">
    </wsdl:part>
  </wsdl:message>
  <wsdl:message name="cadastrarItemResponse">
    <wsdl:part element="tns:cadastrarItemResponse" name="parameters">
    </wsdl:part>
  </wsdl:message>
  <wsdl:message name="removerCadastroResponse">
    <wsdl:part element="tns:removerCadastroResponse" name="parameters">
    </wsdl:part>
  </wsdl:message>
  <wsdl:message name="obterQuantidadeItens">
    <wsdl:part element="tns:obterQuantidadeItens" name="parameters">
    </wsdl:part>
  </wsdl:message>
  <wsdl:message name="removerCadastro">
    <wsdl:part element="tns:removerCadastro" name="parameters">
    </wsdl:part>
  </wsdl:message>
  <wsdl:portType name="CarrinhoBean">
    <wsdl:operation name="cadastrarItem">
      <wsdl:input message="tns:cadastrarItem" name="cadastrarItem">
    </wsdl:input>
      <wsdl:output message="tns:cadastrarItemResponse" name="cadastrarItemResponse">
    </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="obterQuantidadeItens">
      <wsdl:input message="tns:obterQuantidadeItens" name="obterQuantidadeItens">
    </wsdl:input>
      <wsdl:output message="tns:obterQuantidadeItensResponse" name="obterQuantidadeItensResponse">
    </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="removerCadastro">
      <wsdl:input message="tns:removerCadastro" name="removerCadastro">
    </wsdl:input>
      <wsdl:output message="tns:removerCadastroResponse" name="removerCadastroResponse">
    </wsdl:output>
    </wsdl:operation>
  </wsdl:portType>
  <wsdl:binding name="CarrinhoBeanServiceSoapBinding" type="tns:CarrinhoBean">
    <soap:binding style="document" transport="http://schemas.xmlsoap.org/soap/http" />
    <wsdl:operation name="cadastrarItem">
      <soap:operation soapAction="" style="document" />
      <wsdl:input name="cadastrarItem">
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output name="cadastrarItemResponse">
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="obterQuantidadeItens">
      <soap:operation soapAction="" style="document" />
      <wsdl:input name="obterQuantidadeItens">
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output name="obterQuantidadeItensResponse">
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="removerCadastro">
      <soap:operation soapAction="" style="document" />
      <wsdl:input name="removerCadastro">
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output name="removerCadastroResponse">
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
  </wsdl:binding>
  <wsdl:service name="CarrinhoBeanService">
    <wsdl:port binding="tns:CarrinhoBeanServiceSoapBinding" name="CarrinhoBeanPort">
      <soap:address location="http://localhost:8080/2.1-ejb3/CarrinhoBean" />
    </wsdl:port>
  </wsdl:service>
</wsdl:definitions>